# Welcome to KickHelpers.com


# 프로젝트 소개


### 역할분담


|  팀원  | 중간고사 이전                  | 중간고사 이후 |
| :----: | ------------------------------ | ------------- |
| 박지원 | Preprocessing                  | Modeling과 Front-end |
| 윤정하 | 자료 조사                      | Modeling |
| 정희영 | Modeling                      | Front-end와 Server |
| 주용우 | 웹사이트 개발을 위한 서버 작업 | Modeling과 Back-end |


### 일정

![](image/schedule.jpg)

### 제품소개

<br>

  **KickHelpers란?** 
  
  - 최신 머신러닝 기법을 적용하여 간단한 몇가지 정보 입력만으로 크라우드 펀딩의 성공률을 예측해주는 서비스

  - 성공률이 높은 모금 전략을 세울 수 있는 맞춤형 그래프를 제공 (장소, 기간, 모금액 등)

<br>
  
  **[핵심가치]**
  
  - 창업자의 크라우드 펀딩 이용에 대한 막연함과 실패에 대한 두려움을 완화
  
  -> 창업 활성화를 통한 창의적이고 개방적인 사회에 기여


### 사용데이터

<br>

  크라우드펀딩 사이트 Kickstarter 데이터 (2005 ~ 현재까지, 한달에 한번 최신데이터 UPDATE)

### 대상고객

<br>
  
  - 크라우드 펀딩을 통해 창업하고자 하는 창업자 
  
  - 제품 아이디어만을 갖고 있는 일반인 (흥미 유발)  


### 예상수익과 사업확대전략

<br>

  - 웹사이트내 광고배너
  
  
  - Kickstarter 데이터 분석을 통한 컨설팅 -> 정보 제공 단계별 유료화 

      eg. 하위 단계: 해당 카테고리 분석 서비스 ~ 상위 단계: Start to End Service 
  
  
  - 입력받은 정보 가공 후 판매 
  
      eg. 향후 인기 분야 예상

In [8]:
import pandas as pd
import numpy as np
import datetime

df=pd.read_csv('data/projects_fin.csv')

df['launched'] =  pd.to_datetime(df['launched'])
df['Year'] =df['launched'].dt.strftime('%Y')
df['month'] =df['launched'].dt.strftime('%m')

cat_count=df.pivot_table(index='Year',columns='main_category',aggfunc='size')
cat_count=cat_count[cat_count.index!='2018']
top_n = 5
pd.DataFrame({col: cat_count.T[col].nlargest(top_n).index.tolist() 
                  for n, col in enumerate(cat_count.T)}).T

                 0             1           2             3            4
2009  Film & Video         Music         Art    Publishing  Photography
2010  Film & Video         Music         Art    Publishing      Theater
2011  Film & Video         Music         Art    Publishing      Theater
2012  Film & Video         Music  Publishing           Art        Games
2013  Film & Video         Music  Publishing         Games          Art
2014  Film & Video         Music  Publishing    Technology        Games
2015  Film & Video    Technology       Music    Publishing        Games
2016    Technology  Film & Video       Games        Design        Music
2017         Games    Technology      Design  Film & Video   Publishing

최근들어 Game, Technology, Design 카테고리가 뜨고 있고 

Film&Video, Music, Puvlishing, Art 카테고리가 상대적으로 밀리고 있다. 

이를 통해 크라우드 펀딩이 세계적 트렌드를 크게 반영하고 있음을 알 수 있다. 

(* 세계의 트렌드를 한국이 온전히 흡수하는데 1~2년 걸리는 것을 감안하면 
위와 같은 분석을 통해 한국의 단기 트렌드를 전망해 볼수도 있을 것이라 보여진다.)

  - 타기업 판매 (크라우드 펀딩 기업)